<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright © 2015, 9x Media Pvt. Ltd.
  ~ Written under contract by Robosoft Technologies Pvt. Ltd.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninexe.ui">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--<uses-permission android:name="com.google.android.c2dm.permission.SEND" />-->


    <application
        android:name=".NixonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/BlueTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TutorialScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activities.ArticleDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SectionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ViewMoreCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PhotoGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PhotoGalleyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.FacebookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.GooglePlusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".activities.TwitterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/twitter_app_id" />
        <meta-data
            android:name="JW_LICENSE_KEY"
            android:value="@string/jw_player_key" />

        <activity
            android:name=".activities.NewsLetterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true">
            <!--android:permission="com.google.android.c2dm.permission.SEND"-->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.ninexe.ui" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".activities.QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LiveTVActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activities.NotificationHubActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DeepLinkingListenerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--
                     <data
                     android:host="dev.spotboye.com"
                     android:scheme="http"/>
                     />
                -->

                <data android:scheme="spotboye" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NotificationDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
    </application>

</manifest>
